<div class="card border-primary mb-3">
  <div class="card-header">Clientes</div>
  <div class="card-body text-primary table-responsive">
    <h5 class="card-title">Listado de clientes</h5>
    <div class="my-4 text-left">
      <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/clientes/form']">
        Ingresar Cliente
      </button>
    </div>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Cedula</th>
          <th>Nombre</th>
          <th>Celular</th>
          <th>Tipo de Sangre</th>
          <th>Peso</th>
          <th>Altura</th>
          <th>Mensualidad</th>
          <th>Modalidad</th>
          <th>Día Vigencia</th>
          <th>EPS</th>
          <th>
            editar

          </th>
          <th>eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes">
          <td>{{ cliente.cedula }}</td>
          <td>{{ cliente.nombre }}  {{ cliente.apellidos }}</td>
          <td>{{ cliente.celular }}</td>
          <td>{{ cliente.tipo_sangre }}</td>
          <td>{{ cliente.peso }}</td>
          <td>{{ cliente.altura }}</td>
          <td>{{ cliente.mensualidad }}</td>
          <td>{{ cliente.modalidad }}</td>
          <td>{{ cliente.dia_vigencia }}</td>
          <td>{{ cliente.eps }}</td>
          <td>
            <button type="button" name="editar" [routerLink]="['/clientes/form', cliente.cedula]" class="btn btn-primary btn-sm">editar</button>
          </td>
          <td>
            <button type="button" name="eliminar" (click)='eliminar(cliente.cedula)'  class="btn btn-danger btn-sm">eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
